@{
    ViewBag.Title = "Administracion | Tipos/Marcas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var UsuarioLog = Session["UsuarioLog"] as TesisCon2013.Models.Usuarios;
    var lstTipos = Session["lstTipos"] as List<TesisCon2013.Models.Tipos>;
    var lstMarcas = Session["lstMarcas"] as List<TesisCon2013.Models.Marcas>;
    var mensaje = TempData["mensaje"] as string;
}

@if (mensaje != null)
{<div id="msj">@mensaje</div>}

@if(UsuarioLog != null && UsuarioLog.idRol == 1)
{
    <div class="container center_div">
        <div class="row" id="frmBusqueda">
            <form action="@Url.Action("filtrarTiMa", "TipoMarca")" method="get" class="form-horizontal" role="form">
                <fieldset>
                    <legend class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">Buscar relacion por:</legend>

                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-stats"></span> Tipo
                            </div>
                            <select name="idTipo" class="form-control" autofocus="autofocus">
                                <option value="0"></option>
                                @foreach (var tipo in lstTipos)
                                { <option value="@tipo.idTipo">@tipo.tipo</option>}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-bookmark"></span> Marca
                            </div>
                            <select name="idMarca" class="form-control">
                                <option value="0"></option>
                                @foreach (var marca in lstMarcas)
                                { <option value="@marca.idMarca">@marca.marca</option>}
                            </select>
                        </div>
                    </div>
                </fieldset>

                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="btn-group botonera">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                        <button type="button" id="btnRegistro" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Registrar</button>
                        <button type="button" onclick="location.href='@Url.Action("Index", "Usuario")'" class="btn btn-info" title="Volver al Area de Administracion"><span class="glyphicon glyphicon-repeat"></span> Volver</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row" id="frmRegistro">
            <form method="post" class="form-horizontal" role="form">
                <fieldset>
                    <legend class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">Que Desea Registrar?</legend>
                    
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="btn-group-vertical botonera">
                            <button type="button" onclick="location.href='@Url.Action("RegistrarTipo")'" class="btn btn-danger" title="Registrar un nuevo Tipo"><span class="glyphicon glyphicon-plus"></span> Tipo</button>
                            <button type="button" onclick="location.href='@Url.Action("RegistrarMarca")'" class="btn btn-warning" title="Registrar una nueva Marca"><span class="glyphicon glyphicon-plus"></span> Marca</button>
                            <button type="button" onclick="location.href='@Url.Action("RegistrarRelacion")'" class="btn btn-primary" title="Registrar una nueva relacion Tipo|Marca"><span class="glyphicon glyphicon-plus"></span> Relacion Tipo/Marca</button>
                            <button type="button" id="btnCancelar" class="btn btn-info"><span class="glyphicon glyphicon-repeat"></span> Cancelar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}
else
{ Response.Redirect(Url.Action("Index", "Home")); }
