@{
    ViewBag.Title = "Equipos | Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var UsuarioLog = Session["UsuarioLog"] as TesisCon2013.Models.Usuarios;
    var ClienteMod = Session["ClienteMod"] as TesisCon2013.Models.Clientes;
    var lstTiMa = Session["lstTiMa"] as List<TesisCon2013.Models.TipoMarca>;
    var lstTipos = Session["lstTipos"] as List<TesisCon2013.Models.Tipos>;
    var lstClientes = Session["lstClientes"] as List<TesisCon2013.Models.Clientes>;
    var interfaz = Session["interfaz"] as string;
    var mensaje = TempData["mensaje"] as string;
    var sirve = Session["sirve"] as bool?;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnBuscar").click(function () {
            var buscar = $("#txtClie").val();
            if (buscar != "") {
                $.ajax({
                    url: '@Url.Action("BuscarCliente", "Equipo")',
                    type: 'POST',
                    data: { "buscar": buscar },
                    dataType: 'json',
                    success: function (respuesta) {
                        if (respuesta.result)
                        { window.location = respuesta.url; }
                        else
                        { window.location = respuesta.url; }
                    }
                });
            }
            else {
                $("#txtClie").empty();
            }
        });
    });
</script>

@if (mensaje != null)
{<div id="msj">@mensaje</div>}

@if (UsuarioLog != null && UsuarioLog.idRol == 2)
{
    <div class="container center_div">
        <div class="row">
            <form action="@Url.Action("RegistrarEquipo")"  method="post" class="form-horizontal" role="form">
                <fieldset>
                    <legend class="col-md-6 col-md-offset-3">Registrar Equipo</legend>

                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 input-group">
                            <div class="input-group-addon">
                                Tipo|Marca
                            </div>
                            <select name="idTipoMarca" class="form-control">
                                    <option value="0"></option>
                                    @foreach (var T in lstTipos)
                                    {
                                        <optgroup label="@T.tipo.ToUpper()">
                                            @foreach (var TM in lstTiMa)
                                            {
                                                if (T.idTipo == TM.idTipo)
                                                {<option value="@TM.idTipoMarca">@TM.Marcas.marca</option>}
                                            }
                                        </optgroup>
                                    }
                            </select>
                            <span class="input-group-btn">
                                <button type="button" onclick="location.href='@Url.Action("RegistrarRelacion", "TipoMarca")'" class="btn btn-primary" title="Registrar Nueva Relacion Tipo|Marca"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 input-group">
                            <div class="input-group-addon">
                                Modelo
                            </div>
                            <input type="text" name="modelo" class="form-control" maxlength="20" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 input-group">
                            <div class="input-group-addon">
                                N° Serie
                            </div>
                            <input type="text" name="numSerie" class="form-control" maxlength="20" required="required"/>
                        </div>
                    </div>

                    @if (ClienteMod != null && !interfaz.Equals("regEquipo"))
                    {
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 input-group">
                                <div class="input-group-addon">
                                    Cliente
                                </div>
                                <select name="idCliente" class="form-control">
                                    @foreach (var CL in lstClientes)
                                    {
                                        if (CL.idClie == ClienteMod.idClie)
                                        {<option value="@CL.idClie" selected>@CL.apeClie, @CL.nomClie</option>}
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (sirve != null && sirve == true && ClienteMod != null)
                        {
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 input-group">
                                    <div class="input-group-addon">
                                        Cliente
                                    </div>
                                    <select name="idCliente" class="form-control">
                                        @foreach (var CL in lstClientes)
                                        {
                                            if (CL.idClie == ClienteMod.idClie)
                                            {<option value="@CL.idClie" selected>@CL.apeClie, @CL.nomClie</option>}
                                        }
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="button" onclick="location.href='@Url.Action("RegistrarEquipo", Session["sirve"] = null)'" class="btn btn-warning" title="Buscar otro Cliente"><span class="glyphicon glyphicon-repeat"></span></button>
                                    </span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 input-group">
                                    <div class="input-group-addon">
                                        Cliente
                                    </div>
                                    <input type="text" id="txtClie" name="txtClie" class="form-control letras" placeholder="Buscar por Apellido o Nombre" autofocus="true" />
                                    <span class="input-group-btn">
                                        <button type="button" id="btnBuscar" class="btn btn-info" title="Buscar Cliente por Nombre o Apellido"><span class="glyphicon glyphicon-search"></span></button>
                                        <button type="button" onclick="location.href='@Url.Action("RegistrarCliente", "Cliente")'" class="btn btn-primary" title="Registrar Nuevo Cliente"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                </div>
                            </div>
                        }
                    }

                    <div class="form-group">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                            <span class="contenido">Escriba su contraseña actual para confirmar</span>
                        </div>
                        <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5">
                            <input type="password" class="form-control" name="confirm" onkeypress="return soloAlfaNum(event)" maxlength="10" required="required" />
                        </div>
                    </div>
                </fieldset>

                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="btn-group botonera">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Registrar</button>

                            @if (ClienteMod == null)
                            {
                                if (interfaz.Equals("regEquipo"))
                                {<button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-info" title="Volver al Listado de Equipos"><span class="glyphicon glyphicon-repeat"></span> Volver</button>}
                                else
                                {<button type="button" onclick="location.href='@Url.Action("RegistrarOrden", "Orden", Session["sirve"] = true)'" class="btn btn-info" title="Volver al Registro de la Orden de Trabajo"><span class="glyphicon glyphicon-repeat"></span> Volver</button>}
                            }
                        </div>
                    </div>
            </form>
        </div>
    </div>
}
else
{ Response.Redirect(Url.Action("Index", "Home")); }